{{template "base/base.html" .}}
{{define "head"}}
<title>在线聊天室</title>
{{end}}
{{define "body"}}
<div class="container" style="width: 500px;">
    <h3>注册 <a href="/webim">去登陆</a></h3> 
    <br>
    {{ .msg}} 
    <form action="/user/register" method="POST" class="form-horizontal">
        <div class="form-group">
            <label class="col-md-3 control-label">用户名: </label>
            <div class="col-md-5">
                  <input type="text" class="form-control" name="uname" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">密码: </label>
            <div class="col-md-5">
                  <input type="text" class="form-control" name="passwd" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-info">注册</button>
            </div>
        </div>
    </form>
</div>
{{end}}