{{template "base/base.html" .}}
{{define "head"}}
<title>网页聊天室</title>
{{end}}
{{define "body"}}
<div class="container">
    <h4>用户名: <span id="uname">{{.UserName}}</span></h4>
    <div class="row">
        <div class="col-md-5">
            <div class="box box-success direct-chat direct-chat-success">
                <div class="box-header with-border">
                    <h5>聊天</h5>
                </div>
                <div class="box-body">
                    <div class="direct-chat-messages" id="chatbox" style="height: 500px;padding: 10px 30px 5px 30px">
                        <div class="direct-chat-msg">
                            欢迎进入聊天室
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <form class="input-group">
                        <input id="sendbox" type="text" class="form-control"
                               onkeydown="if(event.keyCode==13) postContent();"
                               required>
                        <span class="input-group-btn">
                            <button id="sendbtn" type="button" class="btn btn-success btn-flat">发送</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <h4 style="color:red">通知消息</h4>
            <ul id="noticebox"></ul>
        </div>
    </div>
</div>
{{end}}